<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<bean id = "abstractDataSourceConfig"   class="com.job.db.dataservice.datasource.DataSourceConfig" abstract="true">
        <property name="driveClassName" value="com.mysql.jdbc.Driver"/>
        <property name="maxConnection" value="200"/>
        <property name="minConnection" value="10"/>
        <property name="maxLifetime" value="1800000"/>
        <property name="simu" value="20"/>
        <property name="houseKeepingSql" value="select 1"/>
        <property name="statistics" value="1m,15m,1d"/>
         <property name="useCursorFetch" value="false"/>
	</bean>

 <!-- ******************* ******************* 公共库  （主从配置） ******************* ******************* -->

    <bean id = "master_common"   parent="abstractDataSourceConfig">
        <property name="ip" value="192.168.229.37"/>
        <property name="port" value="3309"/>
        <property name="dbName" value="tts"/>
        <property name="username" value="ttsuser"/>
        <property name="password" value="HTDaBeJ81Nv2"/>
    </bean>
    
    <bean id = "slave_common_A"   parent="abstractDataSourceConfig">
        <property name="ip" value="192.168.229.37"/>
        <property name="port" value="3313"/>
        <property name="dbName" value="tts"/>
        <property name="username" value="ttsuser"/>
        <property name="password" value="HTDaBeJ81Nv2"/>
    </bean>


    <bean id = "slave_common_B"   parent="abstractDataSourceConfig">
        <property name="ip" value="192.168.229.37"/>
        <property name="port" value="3319"/>
        <property name="dbName" value="tts"/>
        <property name="username" value="ttsuser"/>
        <property name="password" value="HTDaBeJ81Nv2"/>
    </bean>
   <bean id="mappingItem_common" class="com.job.db.dataservice.datasource.MasterSlaveConfigMapping.MasterSlaveConfigMappingItem">
       <property name="master">
          <ref bean="master_common"/>
       </property>
        <property name="slaveList">
         <list>
            <ref bean="slave_common_A"/>
            <ref bean="slave_common_B"/>
         </list>
       </property>
    </bean>

  <!-- *************************************** 代理商库 A 组*************************************** -->
    <bean id = "master_A"   parent="abstractDataSourceConfig">
        <property name="ip" value="192.168.229.37"/>
        <property name="port" value="3309"/>
        <property name="dbName" value="ttsgj1"/>
        <property name="username" value="ttsuser"/>
        <property name="password" value="HTDaBeJ81Nv2"/>
    </bean>
    
     <bean id = "slave_AA"   parent="abstractDataSourceConfig">
        <property name="ip" value="192.168.229.37"/>
        <property name="port" value="3313"/>
        <property name="dbName" value="ttsgj1"/>
        <property name="username" value="ttsuser"/>
        <property name="password" value="HTDaBeJ81Nv2"/>
    </bean>
    
    <bean id = "slave_AB"   parent="abstractDataSourceConfig">
        <property name="ip" value="192.168.229.37"/>
        <property name="port" value="3319"/>
        <property name="dbName" value="ttsgj1"/>
        <property name="username" value="ttsuser"/>
        <property name="password" value="HTDaBeJ81Nv2"/>
    </bean>
    
    <bean id="mappingItem_A" class="com.job.db.dataservice.datasource.MasterSlaveConfigMapping.MasterSlaveConfigMappingItem">
       <property name="master">
          <ref bean="master_A"/>
       </property>
       <property name="slaveList">
         <list>
            <ref bean="slave_AA"/>
            <ref bean="slave_AB"/>
         </list>
       </property>
    </bean>
    
    
    <!-- ***************************************代理商库 B组  *************************************** -->
    <bean id = "master_B"   parent="abstractDataSourceConfig">
        <property name="ip" value="192.168.237.27"/>
        <property name="port" value="3306"/>
        <property name="dbName" value="ttsdev44"/>
        <property name="username" value="tts"/>
        <property name="password" value="aeB@ie7lohjo"/>
    </bean>
    
     <bean id = "slave_BA"   parent="abstractDataSourceConfig">
        <property name="ip" value="192.168.237.26"/>
        <property name="port" value="3306"/>
        <property name="dbName" value="ttsdev44"/>
        <property name="username" value="tts"/>
        <property name="password" value="aeB@ie7lohjo"/>
    </bean>
    
    <bean id="mappingItem_B" class="com.job.db.dataservice.datasource.MasterSlaveConfigMapping.MasterSlaveConfigMappingItem">
       <property name="master">
          <ref bean="master_B"/>
       </property>
       <property name="slaveList">
         <list>
            <ref bean="slave_BA"/>
         </list>
       </property>
    </bean>
    
    <!-- **************************************主从关系总配置***************************************** -->

    <bean id="masterSlaveConfigMapping" class="com.job.db.dataservice.datasource.MasterSlaveConfigMapping">
       <property name="mappingList">
          <list>
             <ref bean="mappingItem_common"/>
             <ref bean="mappingItem_A"/>
             <ref bean="mappingItem_B"/>
          </list>
       </property>
    </bean>
	
	<bean id="dataSourceContext" class="com.job.db.dataservice.datasource.DataSourceContext" init-method="init" destroy-method="shutDown">
	   <property name="masterSlaveConfigMapping" ref="masterSlaveConfigMapping"/>
	</bean>
	
	<!--  <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean> -->
    
       <bean id="dataSource" class="com.job.db.dataservice.datasource.AppContextDatasource">
       </bean>
    
     <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    
    <bean id="commonDao" class="com.job.db.dao.CommonDao"/>
    <aop:aspectj-autoproxy/>

</beans>